.content-wrapper {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
}
.content-wrapper h4 {
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  margin-top: -10px;
}
.content-wrapper h1 {
  font-size: 35px;
  font-weight: 500;
  text-align: center;
}
.profile-wrapper p {
  font-size: 16px;
  font-weight: 400;
  text-align: center ;
}
.form-heading {
  font-size: 24px;
  font-weight: 600;
  color: var(--dark);
  margin-bottom: 40px;
  margin-top: 60px;
  text-align: center;
  font-family: "poppins", sans-serif;
}
.form-div {
  width: 70% !important;
}

.title {
  margin-bottom: 40px;
}
.form-wrapper {
  display: flex;
  justify-content: center;
}
